<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>Przeglądaj</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{css/styles.css}" rel="stylesheet" type="text/css">
    <link th:href="@{css/bootstrap.min.css}" type="text/css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.2.min.js" ></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js" ></script>
    <script th:src="@{js/bootstrap.js}"></script>
</head>
<body>

<div th:include="@{fragment/navbarAdmin.html}"></div>

<div class="container" th:each="animal : ${animals}">
    <div class="row">
        <div class="col-xs-12 col-sm-8 main well">
            <div class="blog-post">
                <h2 class="blog-post-title"><a href="/contactAnimal?animalId=${animal.animalId}" th:text="${animal.name}"> </a> </h2>
                <p class="blog-post-meta">Rodzaj:  <th:block th:text="${animal.animalType}"/></p>
                <p><img th:src="@{'../img/' + ${animal.getAnimalPhoto()}}"   alt="Kontak w sprawie tego zwierzęcia" class="thumbnail">Wiek: <th:block th:text="${animal.getAge()}"></th:block></p>
                <div>Płeć:<th:block th:text="${animal.getAnimalSex().toString()}"></th:block>
                    <p>Opis: <th:block th:text="${animal.getDescription()}"><</th:block></p>
                    <a class="btn btn-danger" th:href="${'animal/delete/'+animal.getAnimalId()}">Usuń</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:include="@{fragment/footer.html}"></div>

</body>